.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Copperplate", fantasy;
    color: #0c4dc7;
    border: 5px dashed;
    padding: 30px;
}
button{
    font-family: "Copperplate", fantasy;
    color: #0c4dc7;
    border: 2px dashed;
    background-color: white;
}
